@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;800&display=swap");

:root {
  --primary-color: rgb(255, 139, 6);
  --secondary-color: rgb(7, 54, 121);
  --boxshadow-primary: rgba(255, 165, 0, 0.1);
  --box-shadow-secondary: rgb(7, 54, 121, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  letter-spacing: 1.2;
}
/* GLOBAL CSS  */
.first-section {
  background-color: var(--boxshadow-primary);
  height: 75vh;
  width: 100vw;
  border-radius: 0 0 500px 0px;
}
.second-section {
  background-color: var(--boxshadow-primary);
  border-radius: 50%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container-small {
  max-width: 900px;
  margin: 0 auto;
}
.btn {
  padding: 10px 25px;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 14px;

  margin: 0 10px;
  color: white;
  box-shadow: 0 3px 10px var(--box-shadow-secondary);
}
.btn-white {
  padding: 10px 25px;
  background-color: white;
  color: var(--secondary-color);
  box-shadow: 0 3px 10px var(--box-shadow-secondary);

  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 14px;

  margin: 0 10px;
}
.btn-full {
  margin: 0;
  border-radius: 0;
  width: 100%;
  font-weight: 500;
}
.btn-full-secondary {
  margin: 0;
  border-radius: 0;
  width: 100%;
  font-weight: 500;
  background-color: var(--secondary-color);
}
h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1.1px;
}
.font-large {
  font-size: 38px;
}
.relative {
  position: relative;
}
.absolute-icons {
  position: absolute;
  font-size: 70px;
  margin-top: -85px;
  left: 50%;
  transform: translate(-50%, 0);
}
.testimonial-icons{
    position: absolute;
    font-size: 70px;
    margin-top: -85px;
    left: 10%;
    transform: translate(-10%, 0);
}
.img-main {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
.img-sub {
  width: 100%;
  object-fit: cover;
  height: 150px;
}
/* MARGINS */
.margin {
  margin: 20px 0px;
}
.margin-small {
  margin: 5px 0px;
}
.margin-medium{
    margin: 20px 0px 10px 0px;

}
.margin-extra {
  margin: 150px 0px;
}
.margin-right {
  margin: 0 10px 0 0;
}
.margin-bottom{
    margin-bottom: 15px;
}
.padding {
  padding: 30px 0px;
}
.padding-sideways-top {
  padding: 50px 40px;
}
.padding-bottom{
    padding-bottom: 15px;
}
.margin-mini {
  margin: 100px 0px;
}
/* COLORS */
.color-primary {
  color: var(--primary-color);
}
.color-designer {
  color: var(--secondary-color);
}

.color-grey {
  color: #777;
}
.color-orange {
  color: var(--primary-color);
}

.color-crimson {
  color: crimson;
}
.color-dark-cyan {
  color: darkcyan;
}
.color-green {
  color: green;
}

/* HEADINGS */
.heading {
  text-align: center;
  margin: 15px 0px;
  font-size: 22px;
  word-spacing: 3px;
}
.main-subheading {
  text-align: center;
  margin: 45px 0px;
  font-size: 18px;
  word-spacing: 3px;
}
.secondary-subheading {
  text-align: center;
  margin: 10px 0px;
  font-size: 14px;
  word-spacing: 2px;
}
.para-heading {
  font-size: 16px;
  word-spacing: 2px;
  text-align: center;
  color: var(--secondary-color);
  font-weight: 500;
}
.para-text {
  font-size: 13px;
  word-spacing: 1px;
  text-align: center;
  line-height: 1.4;
}
.icon-font {
  font-size: 50px;
  color: grey;
}
.para-mini {
  font-size: 12px;
  word-spacing: 2px;
  text-align: center;
  color: var(--secondary-color);
  font-weight: 800;
}
.para-medium{
    font-size: 15px;
    word-spacing: 2px;
    
    color: var(--secondary-color);
    font-weight: 500;
}

.icon-text {
  font-size: 20px;
}
/* FLEX CLASSES */
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* overflow: hidden; */
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* GRID CLASSES */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  margin: 25px 0px;
}
.grid-1-col  {
    display: grid;
  grid-template-columns: 1fr 1fr;
 
  grid-gap: 15px;
  margin: 25px 0px;

}
.grid-3-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
}
.grid-4-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 20px;
}
.grid-btn-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-7-col{display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;
  }

/* CARDS */

.card {
  padding: 50px 24px 40px 24px;
  background: white;
  box-shadow: 0 2px 10px var(--box-shadow-secondary);
  max-width: 250px;
}

/* MISC TAGS */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.hightligted-text {
  font-weight: 500;
  color: grey;
  padding-top: 1px;
  font-size: 14px;
}

.internal-padding {
  padding: 5px 15px;
}
.internal-padding-extra {
  padding: 35px 15px;
}

.font-medium {
  font-size: 18px;
  font-weight: 500;
}
.tag {
  display: inline-block;
  padding: 3px 20px;
  font-size: 10px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}
.bg-crimson {
  background: crimson;
}
.bg-white {
  background: white;
  color: var(--primary-color);
}
.bg-primary-light {
  background: var(--boxshadow-primary);
}
.bold {
  font-weight: bold;
}
.border-bottom {
  padding-bottom: 15px;
}
